body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

.contactForm {
  background-image: linear-gradient(
    150deg,
    rgb(137, 143, 226),
    rgb(157, 164, 185)
  );
  height: 85vh;
  width: 90vw;
  margin: auto;
  border-radius: 45px;
  padding-top: 16vh;
  padding-left: 22vw;
  padding-right: 22vw;
}

.contactTitle {
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

.errorMessage {
  color: red;
  text-transform: uppercase;
  margin: 0;
  text-align: start;
  font-size: 1.25vw;
}

.contactInput {
  display: flex;
  /* background-color: yellow; */
  justify-content: end;
  /* padding: 0; */
}

.contactLabel {
  font-size: 1.5vw;
}

.contactRow {
  padding-right: 0;
  margin-right: 0;
}

.checkboxInput {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.checkBox {
  height: 20px;
  width: 20px;
  margin: 5px;
  appearance: none;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBox:checked::after {
  content: "✓";
  top: 10px;
}

.errorCheck {
  color: red;
  margin: 0;
  text-align: center;
  height: 20px;
  padding-bottom: 60px;
}

.resultText {
  text-align: center;
  padding-top: 2vh;
}

button {
  width: 100%;
  background-color: rgb(218, 206, 247);
}

input {
  background-color: rgb(218, 206, 247);
}

@media only screen and (max-width: 500px) {
  .contactForm {
    padding-top: 3vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .contactTitle {
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .contactLabel {
    font-size: 5vw;
  }

  .errorMessage {
    font-size: 3vw;
  }

  .checkboxInput {
    padding-top: 20px;
  }
  .checkBoxLabel {
    font-size: 3vw;
  }

  .errorMessage {
    height: 3vh;
  }
}

@media screen and (min-device-width: 600px) and (max-device-width: 750px) {
  .contactForm {
    padding: 0;
  }

  .checkBoxLabel {
    font-size: 2vw;
  }

  .checkBox {
    height: 15px;
    width: 15px;
  }

  .errorCheck {
    padding: 2px;
    font-size: 2vw;
  }
}
